.Button {
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  color: var(--colors-white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  transform: 200ms;

  &.isBlue {
    background-color: var(--colors-blue-700);

    &:hover {
      background-color: var(--colors-blue-800);
    }
  }

  &.isRed {
    background-color: var(--colors-red-700);

    &:hover {
      background-color: var(--colors-red-800);
    }
  }

  &:disabled,
  &[disabled] {
    background-color: var(--colors-gray-600);
    pointer-events: none;
  }
}
