.Wrapper {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  border-top: 1px solid var(--colors-gray-600);
  border-bottom: 1px solid var(--colors-gray-600);
  gap: 24px;
}

.Img {
  max-width: 150px;
}

.Name {
  width: 120px;
  font-weight: 500;

  @media (width >= 450px) {
    font-size: 18px;
  }
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width >= 450px) {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.Quantity {
  display: flex;
  padding: 10px 16px;
  border: 1px solid var(--colors-gray-600);
  gap: 56px;
}

.PriceBlock {
  display: flex;
  height: 100%;
  justify-content: space-between;

  @media (width >= 450px) {
    flex-direction: column-reverse;
    align-content: space-between;
    align-items: flex-end;
    order: 1;
  }
}

.Button {
  cursor: pointer;
}
