.Wrapper {
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.Title {
  margin-bottom: 40px;
}

.Button {
  all: unset;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--colors-blue-700);
  }
}

.Button:disabled {
  display: none;
}

.Cards {
  display: grid;
  margin-bottom: 48px;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}

.ShowMore {
  display: flex;
  justify-content: center;
}
