.Wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.Input,
.isInputError {
  width: 100%;
  padding: 12px 12px 12px 16px;
  border: 1px solid var(--colors-gray-900);
  color: var(--colors-gray-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 150.6%;
}

.Input:focus {
  border: 1px solid var(--colors-gray-1000);
  outline: 0;
}

.Input::placeholder {
  color: var(--gray-light-cokor);
}

.Input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.isInputError {
  border: 1px solid var(--colors-red-700);
}

.Error {
  color: var(--colors-red-700);
  font-size: 14px;
}
