.Ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  @media (width >= 990px) {
    max-width: 680px;
    margin: 0 auto;
  }
}

.EndingText {
  text-align: center;
}
