/* reset */
button {
  all: unset;
  background-color: var(--colors-white);
}

.Checkbox,
.Indicator {
  --size: 16px;

  width: var(--size);
  height: var(--size);
}

.Wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 12px;
}

.Checkbox {
  position: relative;
  border-radius: 4px;
  background-color: var(--colors-white);
  box-shadow: inset 0 0 0 2px var(--colors-gray-1000);
  transition: 200ms ease-in;

  &.isChecked {
    background-color: var(--colors-blue-700);
    box-shadow: none;
    transition: 200ms ease-in;
  }
}

.Indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: var(--colors-blue-700);
}
