.Wrapper {
  margin-bottom: 120px;
}

.Sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ButtonWrapper {
  display: flex;
  gap: 24px;
}

.isActiveButton {
  color: var(--colors-blue-700);
}

.Button {
  all: unset;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--colors-blue-700);
  }
}

.Button:disabled {
  display: none;
}

.isActiveSorting {
  background-color: var(--colors-blue-700);
  color: var(--colors-white);
}

.Sorting {
  padding: 2px;
  border: 1px solid var(--colors-blue-700);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--colors-blue-700);
    color: var(--colors-white);
  }
}

.Select {
  display: flex;
}

.Cards {
  display: grid;
  margin-bottom: 48px;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
}

.ShowMore {
  display: flex;
  justify-content: center;
}
