.Wrapper {
  margin-bottom: 120px;
}

.Sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @media (width <= 490px) {
    justify-content: center;
  }
}

.ButtonWrapper {
  display: flex;
  gap: 24px;

  @media (width <= 490px) {
    display: none;
  }
}

.isActiveButton {
  color: var(--colors-blue-700);
}

.Button {
  all: unset;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    color: var(--colors-blue-700);
  }
}

.Button:disabled {
  display: none;
}

.isActiveSorting {
  background-color: var(--colors-blue-700);
  color: var(--colors-white);
}

.Cards {
  display: grid;
  margin-bottom: 48px;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
}

.ShowMore {
  display: flex;
  justify-content: center;
}
